body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Занимаем всю высоту экрана */
    font-family: Arial, sans-serif; /* Шрифт по умолчанию */
    background-color: #f0f0f0; /* Цвет фона страницы */
}

/* Контейнер для карты */
#map {
    width: 90%; /* Ширина карты */
    height: 90vh; /* Высота карты (90% от высоты экрана) */
    margin: 0 auto; /* Центрирование по горизонтали */
    border: 1px solid #ccc; /* Граница карты */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для карты */
    background-color: #fff; /* Фон карты */
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    #map {
        width: 100%; /* На мобильных устройствах карта занимает всю ширину */
        height: 100vh; /* На мобильных устройствах карта занимает всю высоту */
        border-radius: 0; /* Убираем закругленные углы */
    }
}

